@tailwind base;
@tailwind components;
@tailwind utilities;
  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    border-color: #27272A;
    color: white !important;
}

::-webkit-scrollbar {
  margin-top: 2px;
  width: 7px;
  height: 8px;
  z-index: 9999;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #1E293B;
  border-radius: 4px;
}

/* Target pseudo-elements if they are the issue */
.element-class::before,
.element-class::after {
    background: transparent !important; /* Make background transparent */
    opacity: 1 !important; /* Ensure full visibility */
}

/* If there's a general background color causing the issue */
.element-class {
    background: transparent !important; /* Remove any black background */
}

/* Remove any unexpected box-shadow or opacity */
.element-class {
    box-shadow: none !important; /* Remove box-shadow */
    opacity: 1 !important;       /* Set opacity to fully visible */
}

 

